.footer {
  position: relative;
  background-color: rgb(26, 26, 26);
  min-width: 320px;
  max-width: 768px;
  min-height: 3.5rem;
  width: 100%;
  margin: auto;
  font-size: 0.8rem;
  text-align: center;
}

.pozadi__sipky-footer {
  display: block;
  position: absolute;
  bottom: 0rem;
  height: 2rem;
  width: 100%;
  background-image: url('../img_podklady/sipky_pozadi.svg');
  filter: invert(100%);
  background-repeat: repeat-x;
  background-size: auto 100%;
}

.footer-cervena {
  color: #fc5372;
}
