.sipky-pozadi {
  display: block;
  height: 2rem;
  width: 100%;
  max-width: 48rem;
  background-image: url('../img_podklady/sipky_pozadi.svg');
  filter: invert(100%);
  background-repeat: repeat-x;
  background-size: auto 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.header-hlavni {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  z-index: 30;
}

.header__nadpis-button {
  max-width: 48rem;
  width: 100%;
  padding-top: 3.1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(26, 26, 26);
}

/* nadpis */
h1 {
  margin: 0;
  margin-left: 1rem;
}

.tecka {
  color: #eb284c;
}

.menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  line-height: 4rem;
  background-color: #252729;
  z-index: 20;
  overflow-x: hidden;
  transform: translateX(100%);

  /*  transition-property: transform;
  transition-delay: 0; 
  transition-duration: 1s;
  transition-timing-function: ease; */
}

.menu-opened {
  transition: transform 1s ease;
  transform: translateX(0%);

  overflow: auto;
  /* overflow-x: visible;
  transition: left 3s out back;  */
}

.menu nav {
  min-width: 20rem;
  max-width: 48rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 3.1rem 0;
}

a {
  color: #ddd;
  text-decoration: none;
}
.menu ul {
  padding: 0;
  letter-spacing: 0.1rem;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 3s;
}

.menu ul li {
  list-style-type: none;
}

.menu ul a {
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
}

.menu-opened a:hover {
  color: #eb284c;
}

.menu li {
  position: relative;
  color: #ddd;
  font-size: 1.5rem;
  text-transform: uppercase;
  text-align: center;
}

.menu__btn1 {
  background-image: url('../img_podklady/menu.svg');
  background-repeat: no-repeat;
  position: relative;
  flex-shrink: 0;
  width: 4rem;
  height: 4rem;
  padding: 0rem;
  margin-right: 1rem;
  border: solid #eb284c;
  border-radius: 50%;
  background-color: transparent;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.menu__btn2 {
  background-image: url('../img_podklady/cross.svg');
  background-repeat: no-repeat;
  position: relative;
  width: 4rem;
  height: 4rem;
  padding: 0rem;
  margin-right: 1rem;
  margin-left: auto;
  flex-shrink: 0;
  border: solid #eb284c;
  border-radius: 50%;
  background-color: transparent;
  background-size: 50%;
  background-position: center;
  cursor: pointer;
}

.menu__btn1:hover .menu__btn2:hover {
  transition: 0.3s;
  transform: scale(1.1);
}

/* 
.headroom--not-bottom 
.headroom--not-top  */

.headroom {
  will-change: transform;
  transition: transform 200ms linear;
}

.headroom--unpinned {
  transition: 0.5s;
  transform: translateY(-100%);
  overflow: auto;
}

.headroom--pinned {
  transition: 0.5s;
  transform: translateY(0%);
}
