.sipky-pozadi {
  height: 3rem;
  background-image: url('../img_podklady/sipkaTopRed.svg');
  background-repeat: repeat-x;
  padding: 0;
  margin: 0;
}

.header-hlavni {
  display: inline-flex;
  flex-direction: row;

  justify-content: space-between;
  margin: 0;
  padding: 1rem 0 0 0;
  min-width: 320px;
  max-width: 768px;
  position: relative;

  align-content: stretch;
}

/* #menu__item--1,
#menu__item--2,
#menu__item--3,
#menu__item--4 {
  position: relative;
  display: inline-block;

  clear: both;
  color: transparent;
  font-size: 14px;
  letter-spacing: -6.2px;
  height: 7px;
  line-height: 7px;
  text-transform: uppercase;
  white-space: nowrap;
  transform: scaleY(0.2);
  transition: opacity 1s;
} */

h1 {
  width: 85%;
  margin: 1rem 1rem 1rem 1rem;
}

#menu__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  background-image: url('../img_podklady/menu.png');
  width: 4rem;
  height: 4rem;
  padding: 0rem;

  border: solid red;
  border-radius: 50%;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

ul {
  width: 10rem;
  padding: 1rem;
  background-color: #373535;
  font-size: 15px;
  letter-spacing: 0.1rem;
}
ul a {
  display: block;
  margin: 1rem;
  color: #ddd;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

ul a:hover {
  color: aqua;
}

.menu-closed {
  display: none;
}
