.header {
  display: inline-flex;
  flex-direction: row;
  align-content: space-around;
  justify-content: space-between;
  margin: 2rem 1rem 1rem 1rem;

  min-width: 320px;
  max-width: 768px;
  position: relative;
}

h1 {
  width: 75%;
  margin: 2rem 1rem 1rem 1rem;
}

#menu__btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url('../img_podklady/menu.png');
  width: 4rem;
  height: 4rem;
  padding: 1rem;
  margin: 2rem 1rem;

  border: none;
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
}

ul {
  width: 10rem;
  padding: 1rem;
  background-color: #373535;
  font-size: 15px;
  letter-spacing: 0.1rem;
}
ul a {
  display: block;
  margin: 1rem;
  color: #ddd;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

ul a:hover {
  color: aqua;
}

.menu-closed {
  display: none;
}
