h2,
h3 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(211, 211, 206);
  padding: 1rem;
}
h6 {
  text-align: center;
}
.cont-game {
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  align-items: center;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 80%, 0.14);
  padding: 0.6rem;
}
.game-f {
  margin: 1rem;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 80%, 0.14);
  border-radius: 6.25rem;
  padding: 0.6rem;
}
.radio-label {
  display: flex;
  align-items: center;
  border-radius: 6.25rem;
  padding: 0.8rem 1rem;
  margin: 0.6rem 0rem;
  cursor: pointer;
  transition: 0.3s;
}

.radio-label:hover,
.radio-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.radio-input {
  display: none;
}

.radio-design {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    hsl(0, 91%, 55%),
    hsl(0, 60%, 35%)
  );
}

.radio-design::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.radio-input:checked + .radio-design::before {
  transform: scale(0);
}

.radio-text {
  color: hsl(0, 0%, 90%);
  margin-left: 0.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900;
  transition: 0.3s;
}

.radio-input:checked ~ .radio-text {
  color: hsl(0, 91%, 55%);
}

.arrowed {
  display: flex;
  justify-content: space-between;
  border-radius: 6.25rem;
  padding: 0.8rem 1rem;
  margin: 0.6rem 0.6rem;
  transition: 0.4s;
}

.btn-design:hover {
  border: none;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    hsl(0, 91%, 55%),
    hsl(0, 60%, 35%)
  );
  transition: 0.3s;
}
.btn-design {
  padding: 0.3rem;
  width: 1.4rem;
  height: 1.4rem;
  border: none;
  border-radius: inherit;
  transform: scale(1.1);
  transition: 0.3s;
  cursor: pointer;
}
.js-btn-back.hide,
.js-btn-forward.hide {
  display: block;
  opacity: 0;
  pointer-events: none;
}

/* .btn-design :focus-within {
  background: hsla(0, 0%, 80%, 0.14);
} */

img {
  width: 100%;
}
#btn-confirm {
  display: none;
  min-width: fit-content;
  padding: 0.3rem;
}
#btn-confirm:hover {
  border-radius: inherit;
}

.logo {
  align-content: center;
  width: 5rem;
  width: 5rem;
}

.hide {
  display: none;
}
