/* font-family: 'Bangers', cursive; */
html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/* font-family: 'Bangers', cursive; */

body {
  color: #ddd;
  background-color: #1B1A1A;
  font-family: 'Montserrat', sans-serif;
  width:100vw;
  height:100vh;
}

.container__cele {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:100vw;
  height:100vh;
  padding: 1rem;
}

h1 {
  letter-spacing: 0.2rem;
  color: #ddd;
  font-size: 2rem;
}
.logo-joker {
  display:flex;
  justify-content: center;
}

#img-logo-joker {
  width: 50%;
  border-radius: 50%;
  border: 5px, solid, black;
  /* filter: invert(100%); */
}

h2 {
  font-size: 1.5rem;
}

.aktunabidka {
  display:flex;
  justify-content: center;
}

.btn__main--aktunabidka {
  background-color: #f64141;
  color: white;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-radius: 10px;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  width: 80%;
}

.btn__main--aktunabidka:hover {
  background-color: #a33030;
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  width: 10rem;
  background-color: #373535;
  font-size: 15px;
  letter-spacing: 0.1rem;
}

nav a {
  width:10rem;
  display: block;
  margin: 1rem;
  color: #ddd;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(50, 202, 205);
  border-bottom: 1px solid #ddd;
}

.nav-closed {
  display: none;
}

#nav__btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("./img_podklady/menu.png");
  background-size: contain;
  cursor: pointer;
}

#nav__btn:focus {
  outline: none;
}

/* -----kontakt----- */

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mapa {
  border: solid 2px rgb(50, 202, 205);
  max-width: 50%;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .container__cele {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .banner {
    height: 600px;

    background-position: top left;
  }  */

  .navigation {
    flex-direction: row;

    background-position: top left;
  }

  nav {
    width: initial;
  }

  nav a {
    display: inline-block;

    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-closed {
    display: block;
  }

  /* .intro {
    width: 30%;

    margin-left: 65%;
    padding-top: 4rem;

    text-align: center;
  } */
}

/* 
body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Bangers', cursive;
  display: flex;
}

.img-joker {
  max-width: 50%;
  filter: invert(100%);
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
}

.sloupec__jedna {
  flex-direction: row;
}

.sloupec__dva {
  flex-direction: row;
}

button {
  font-family: 'Bangers', cursive;
  border-radius: 50%;
  padding: 1rem;
}

/* --- css pro index-kontakt.html --- */
/*.adresa {
  text-align: center;
}
#mapa {
  max-width: 80%;
}
 */
