/* position: absolute; */
/*  top: 0;
  left: 0; */

.kontakty {
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
}

.kontakt__obrazek {
  padding: 0.5rem;
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
}

.mapa-CB {
  filter: invert(90%);
  display: block;
  width: 80%;
  border-radius: 0.5rem;
  border: solid rgb(73, 73, 73) 0.3rem;
  margin: auto;
}

#ikona-mapa,
#ikona-spendlik,
#ikona-telefon,
#ikona-email,
#ikona-chat,
#ikona-hodiny {
  width: 2rem;
  font-weight: bolder;

  filter: invert(100%);
  align-content: center;
}

.ikona {
  display: flex;
  padding: 1rem;
  align-items: center;
}

#ikona-ruka {
  width: 2rem;
  height: 1.3rem;
  filter: invert(100%);
  padding-bottom: 0;
}

#ikona-ruka:hover {
  color: #eb284c;
}

.kontakt__adresa,
.kontakt__gps,
.kontakt__telefon,
.kontakt__mail,
.kontakt__fb,
.kontakt__oteviracka {
  display: flex;
  flex-direction: row;
  justify-items: center;
  text-decoration: none;
  text-align: start;
  margin: 0;
}

.kontakt__adresa--text,
.kontakt__gps--text,
.kontakt__telefon--text,
.kontakt__mail--text,
.kontakt__fb--text,
.kontakt__oteviracka--text {
  color: #eb284c;
}

.gps:active {
  color: cornflowerblue;
}

.p {
  margin: 0rem 1rem;
}

/* body {
  /*   font-family:  
    background-color: 
  display: flex;
  min-width: 320px;
  max-width: 768px;
  font-family: Montserrat;
  font-size: 1.5rem;
  background-color: #1c1b1b;
  color: white;
  width: 100vw;
} */

/* 












.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

nav {
  width: 10rem;
  background-color: #373535;
  font-size: 15px;
  letter-spacing: 0.1rem;
}

nav a {
  width:10rem;
  display: block;
  margin: 1rem;
  color: #ddd;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(50, 202, 205);
  border-bottom: 1px solid #ddd;
}

.nav-closed {
  display: none;
}

#nav__btn {
  width: 3rem;
  height: 3rem;
  padding: 0;
  border: none;

  background-color: transparent;
  background-image: url("./img_podklady/menu.png");
  background-size: contain;
  cursor: pointer;
}

#nav__btn:focus {
  outline: none;
}

/* -----kontakt----- 



@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }

  .container__cele {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .banner {
    height: 600px;

    background-position: top left;
  }  

  .navigation {
    flex-direction: row;

    background-position: top left;
  }

  nav {
    width: initial;
  }

  nav a {
    display: inline-block;

    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  .nav-closed {
    display: block;
  }
 */
/* .intro {
    width: 30%;

    margin-left: 65%;
    padding-top: 4rem;

    text-align: center;
  } */

/* 
body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Bangers', cursive;
  display: flex;
}

.img-joker {
  max-width: 50%;
  filter: invert(100%);
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
}

.sloupec__jedna {
  flex-direction: row;
}

.sloupec__dva {
  flex-direction: row;
}

button {
  font-family: 'Bangers', cursive;
  border-radius: 50%;
  padding: 1rem;
}

/* --- css pro index-kontakt.html --- */
/*.adresa {
  text-align: center;
}
#mapa {
  max-width: 80%;
}
 */
