.nabidka {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 768px;
  margin-top: 2rem;
  margin: 0 auto;
  height: calc(100% - 7rem);
  border-radius: 0.5rem;
  background: hsla(0, 0%, 80%, 0.14);
}

.prvni {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  color: grey;
  background: #fff200;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.druhy {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #ee7b22;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.treti {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #dfc07d;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.ctvrty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #3c2415;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.paty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #754c29;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sesty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #f7941d;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sedmy {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #2b3990;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.osmy {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #8b5e3c;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}
.devaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #71732f;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.desaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #e12b27;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.jedenacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #231f20;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.dvanacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #f79441;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.trinacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #469172;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.ctrnacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #c2b59b;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.patnacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #7f3f98;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sestnacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #4c2d85;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sedmnacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #f09368;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.osmnacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #f26522;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.devatenacty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #cbd63f;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.dvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #00a79d;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.jednadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #a32823;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.dvaadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #360253;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.triadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #dfc07d;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.ctyriadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #1b75bc;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.petadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #f15a29;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sestadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #8dc63f;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.sedmadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #601d25;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.osmadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  color: grey;
  background: #8fecbb;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.devetadvacaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #51b748;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

.tricaty {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  background: #eb284c;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 6.25rem;
  padding: 1rem;
  margin: 0.6rem 0rem;
  transition: 0.3s;
  letter-spacing: 0.2rem;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 960px;
  }
} ;
