.nabidka {
  padding: 0.5rem;
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
}

.dostupne_ano {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  letter-spacing: 0.2rem;
}

.dostupne_ne {
  display: none;
}

.zavreno {
  display: none;
}
