.nabidka {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 768px;
  margin-bottom: 2rem;
  margin: 0 auto;
}

.prichut {
  list-style: none;
  text-transform: uppercase;
  align-items: center;
  color: rgb(255, 255, 255);
  line-height: 1.5;
  font-size: 1.1rem;
  font-weight: 900;
  border-radius: 1rem;
  width: 100%;
  padding: 1rem;
  margin: 1rem 0rem;
  letter-spacing: 0.2rem;
}

.zavreno {
  display: none;
}

@media screen and (min-width: 768px) {
  .stranka {
    max-width: 960px;
  }
}
