.oteviracka_img {
  padding: 0.5rem;
  margin: 0 auto;
  min-width: 320px;
  max-width: 768px;
  min-height: 100%;
}

.oteviracka_obrazek {
  display: block;
  width: calc(100% - 4rem);
  border-radius: 0.5rem;
  border: solid #ababab 0.3rem;
  margin: auto;
  margin-bottom: 2rem;
}

.container_tabulka {
  padding: 1rem;
  align-items: center;
}

.box1 {
  display: block;
  align-items: center;
  width: 100%;
  height: 100px;
}

.box2 {
  display: flex;
  min-width: 100%;
  height: 100px;
}

.box {
  display: flex;
  flex-direction: column;
  width: calc(100% - 5px);
  align-self: center;
}

.sloupec {
  font-size: 2rem;
}

.oteviracka p {
  text-align: center;
}
