html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

body {
  background-color: #252729;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.pozadi__sipky {
  display: block;
  height: 2rem;
  width: 100%;
  background-image: url('../img_podklady/sipky_pozadi.svg');
  filter: invert(100%);
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin: 2rem 0rem;
}
