html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}

/* body { */
/*   font-family:  
    background-color: */
/*   display: flex;
  min-width: 320px;
  max-width: 768px;
  font-family: Montserrat;
  font-size: 1.5rem;
  background-color: #1c1b1b;
  color: white;
  width: 100vw;
} */

body {
  /* display: grid;
  place-content: center; */
  padding: 0.5rem;
  background-color: #252729;
  color: white;
  font-family: 'Montserrat';
  font-size: 1.2rem;
  letter-spacing: 1px;
  /*  min-width: 320px;
  max-width: 768px; */
}

.pozadi__sipky {
  display: block;
  height: 2rem;
  width: 100%;
  background-image: url('../img_podklady/sipky_pozadi.svg');
  filter: invert(100%);
  background-repeat: repeat-x;
  background-size: auto 100%;
  margin: 2rem 0rem;
}
