.story {
  min-width: 20rem;
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

.story_obrazek {
  display: block;
  border-radius: 0.5rem;
  border: solid #ababab 0.3rem;
  margin: auto;
  margin-bottom: 2rem;
  padding: 0;
}

p.story_text {
  padding: 0 2rem;
  margin-block-end: 0rem;
  line-height: 1.5;
  text-align: left;
}

.story .pozadi__sipky {
  display: inline-block;
  width: 100%;
}

/* @media only screen and (min-width: 900px) {

} */
