.uvod {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
}

.logo-uvod {
  width: 80%;
}

h2 {
  margin: 0;
}

.btn-na-cepu {
  background-color: red;
  color: white;
  border: solid #252729 1px;
  border-radius: 5px;
  padding: 1rem;
  margin: 1rem;
  font-size: 2rem;
}
