.uvod {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 320px;
  max-width: 768px;
  margin: 0 auto;
  padding-top: 7.2rem;
}

.logo-uvod {
  width: 75%;
}

h2 {
  margin: 0;
}

.btn-na-cepu {
  background-color: #eb284c;
  color: white;
  text-transform: uppercase;
  border: solid #252729 1px;
  border-radius: 1rem;
  padding: 1.5rem;
  margin: 1.5rem;
  font-size: 1.5rem;
}
