.uvod {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  min-width: 20rem;
  max-width: 48rem;
  margin: 0 auto;
  padding-top: 7.2rem;
}

.logo-uvod {
  width: 85%;
}

h2.claim {
  padding: 0;
}

.btn-na-cepu {
  background-color: #eb284c;
  position: relative;
  color: white;
  text-transform: uppercase;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
}

.btn-na-cepu:hover {
  border: none;
  background: #eb284c;
  transition: 0.3s;
  transform: scale(1.1);
}
