/* DEFAULTS */
/* =============================================== */
body {
  display: grid; 
  place-content: center;
  margin: 0;
  padding: 2.5rem;
  box-sizing: border-box;
  background-color: #252729;
  font-family: font-family: 'Bangers', cursive;
}

/* MAIN */
/* =============================================== */
.title-coJeNaCepu{
  text-align: center;
}
section .container3{
  min-width: 90%;
  margin: 0.6rem;
  padding: 0rem;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  color: rgb(211, 211, 206);
  padding: 1rem;
}
.game{
  min-width: 90%;
  border-radius: 0.5rem;
  background: hsla(0, 0%, 80%, 0.14);
  padding: 0.6rem;
  margin: 0rem;
}
.check-label {
  display: flex;
  align-items: center;
  border-radius: 6.25rem;
  padding: 0.8rem 1rem;
  margin: 0.6rem 0rem;
  cursor: pointer;
  transition: 0.3s;
}

.check-label:hover,
.check-label:focus-within {
  background: hsla(0, 0%, 80%, 0.14);
}

.check-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 0.06rem;
  height: 0.06rem;
  opacity: 0;
  z-index: -1;
}

.check-design {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: linear-gradient(
    to right bottom,
    hsl(34, 74%, 74%),
    hsl(24, 40%, 41%)
  );
  position: relative;
}

.check-design::before {
  content: '';
  display: inline-block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  background: hsl(0, 0%, 90%);
  transform: scale(1.1);
  transition: 0.3s;
}

.check-input:checked + .check-design::before {
/*   transform: scale(0);
 */}

.check-text {
  color: hsl(0, 0%, 90%);
  margin-left: 0.9rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 900; 
  transition: 0.3s;
/*   overflow-wrap: anywhere; */
}

.check-input:checked ~ .check-text {
  color: hsl(0, 0%, 90%);
}

.arrowed{
  display: flex;
  justify-content: space-between;
  margin: 1rem;

}

.arrow-4 {
	/* duplicate the triange */
	position: relative;
	height: 0px; width: 0px;
	border: 8px solid;
	border-color: 
		darkorange
		darkorange
		transparent
		transparent;
	transform: rotate(45deg); 
}
#arrow-4 {
  transform: rotate(225deg); 
}

.arrow-4:before, .arrow-4:after {
	content: '';
	display: block;
	position: absolute;
	
	/* set up more triangles */
	height: 0; width: 0;
	
	/* half the parent border
	   rounded up */
	border: 5px solid;	
}

.arrow-4:before {
	border-color:
		darkorange
		transparent
transparent
		darkorange; 
	display: block;
	top: -1px; right: 0px;
	transform-origin: top right;
	transform: rotate(45deg); 
}

.arrow-4:after {
	border-color:
		transparent
		darkorange
		darkorange
		transparent;
	top: 0px; right: -1px;
	transform-origin: top right;
	transform: rotate(-45deg);
}
