html {
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: inherit;
}
/* font-family: 'Bangers', cursive; */

body {
  color: #ffffff;
  background-color: #000000;
  font-family: 'Bangers', cursive;
  display: flex;
}

.img-joker {
  max-width: 50%;
  filter: invert(100%);
}

h1 {
  text-align: center;
}

.menu {
  display: flex;
}

.sloupec__jedna {
  flex-direction: row;
}

.sloupec__dva {
  flex-direction: row;
}

button {
  font-family: 'Bangers', cursive;
  border-radius: 50%;
  padding: 1rem;
}

/* --- css pro index-kontakt.html --- */
.adresa {
  text-align: center;
}
#mapa {
  max-width: 80%;
}
